@page
@model RazorPages.Pages.Flat.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flats[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flats[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flats[0].Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flats[0].Organization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flats[0].Since)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flats[0].End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flats[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flats[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Flats)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Since)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ProductID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ProductID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ProductID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
